<div class="plate">
  <div class="header">
  </div>
  @for (col of columns; track col) {
    <div class="column-header text-3rem flex-center text-color-secondary">
    <span>
      {{ col }}
    </span>
    </div>
  }

  @for (row of rows; track row) {
    <div class="row-header text-3rem flex-center text-color-secondary">
      <span>

      {{ row }}
      </span>
    </div>

    @for (col of columns; track col) {
      <!--      get data for each well, single-digit wells have leading 0, so it is provided there by (col < 10) -->
      @if (mappedPlateData().get(row + (col < 10 ? '0' : '') + col); as wellData) {
        <div>
          <app-well-template [wellValue]="wellData"></app-well-template>
        </div>
      } @else {
        <div></div>
      }
    }
  }
</div>
