<div class="header" *ngIf="qpcrFiles$ | async as qPCRFiles">
  <div class="start py-6 pl-8"
       *ngIf="!qPCRFiles.length"

  >

    <p-fileUpload
      mode="basic"
      accept=".csv"
      [multiple]="true"
      [customUpload]="true"
      (uploadHandler)="customHandler($event.files)"
      [auto]="true" chooseLabel="Add qPCR csv files">

    </p-fileUpload>

  </div>
  <div class="page-container w-100 pl-8 pt-8"
       *ngIf="qPCRFiles.length"

  >

    <div class="p-1">
      {{ qPCRFiles.length + ' files were added' }}

    </div>
    <div class="p-1" *ngIf="samples$ | async as samples">
      {{ samples.length + ' samples were found' }}
    </div>


    <div class="p-1" *ngIf="targets$ | async as targets">
      {{ targets.length + ' targets were found' }}

    </div>

    <div class="flex flex-wrap gap-2 py-4">

      <ng-container *ngFor="let target of targets$ | async">

        <app-target-card
          [routerLink]="['/target', target]"
          [target]="target"></app-target-card>
      </ng-container>
    </div>


  </div>
</div>

