@if (qpcrFiles$ | async; as qPCRFiles) {

  <div class="header">
    @if (!qPCRFiles.length) {
      <div class="flex justify-content-center mt-6">

        <p-fileUpload
          mode="basic"
          accept=".csv"
          [multiple]="true"
          [customUpload]="true"
          (uploadHandler)="customHandler($event.files)"
          [auto]="true" chooseLabel="Add qPCR csv files">

        </p-fileUpload>

      </div>
    }
    @if (qPCRFiles.length) {


      <div class="page-container w-100 pl-8 pt-8">

        <div class="p-1">
          {{ qPCRFiles.length + ' files were added' }}

        </div>

        @if (samples$ | async; as samples) {

          <div class="p-1">
            {{ samples.length + ' samples were found' }}
          </div>
        }

        @if (targets$ | async; as targets) {
          <div class="p-1">
            {{ targets.length + ' targets were found' }}

          </div>
        }

        <div class="flex flex-wrap gap-2 py-4">

          @for (target of targets$ | async; track target) {
            <app-target-card
              [routerLink]="['/target', target]"
              [target]="target"></app-target-card>

          }
        </div>

      </div>
    }
  </div>
}


