<div>{{ 'Plate files for ' + fileName }}</div>
<div class="container flex justify-content-center w-11 p-4">

  <p-table [value]="objectsArray" styleClass="p-datatable-striped" [tableStyle]="{ 'min-width': '60rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Well</th>
        <th>Target</th>
        <th>Sample Type</th>
        <th>Sample</th>
        <th>Cq</th>
        <th>Melt temp</th>
        <th>Melt peak</th>

      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-well>
      <tr>
        <td>{{ well.Well }}</td>
        <td>{{ well.Target }}</td>
        <td>{{ well.Content }}</td>
        <td>{{ well.Sample }}</td>
        <td>{{ customNumFormat(well.Cq) }}</td>
        <td>{{ customNumFormat(well['Melt Temperature']) }}</td>
        <td>{{ customNumFormat(well['Peak Height']) }}</td>

      </tr>
    </ng-template>
  </p-table>
</div>
