<div class="my-1">{{ 'Plate files for ' + fileName }}</div>

<div class="container flex justify-content-center w-11 p-4">

  <p-table [scrollable]="true" [tableStyle]="{ 'min-width': '60rem'}"
           [value]="tableData" dataKey="well"
           scrollHeight="85vh"
           styleClass="p-datatable-striped"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="well">Well
          <p-columnFilter display="menu" field="well" type="text"></p-columnFilter>
          <p-sortIcon field="well"></p-sortIcon>
        </th>
        <th pSortableColumn="Target">Target
          <p-columnFilter [showAddButton]="false" [showMatchModes]="false" [showOperator]="false" display="menu"
                          field="target"
                          matchMode="in">
            <ng-template pTemplate="header">
              <div class="px-3 pt-3 pb-0">
                <span class="font-bold">Target Picker</span>
              </div>
            </ng-template>
            <ng-template let-filter="filterCallback" let-value pTemplate="filter">
              <p-multiSelect (onChange)="filter($event.value)" [ngModel]="value" [options]="targets" optionLabel="name"
                             placeholder="Any">
                <ng-template let-option pTemplate="item">
                  <div class="inline-block vertical-align-middle">
                    <span class="ml-1 mt-1">{{ option }}</span>
                  </div>
                </ng-template>
              </p-multiSelect>
            </ng-template>
          </p-columnFilter>
          <p-sortIcon field="target"></p-sortIcon>
        </th>
        <th pSortableColumn="content">Sample Type
          <p-columnFilter display="menu" field="content" type="text"></p-columnFilter>
          <p-sortIcon field="content"></p-sortIcon>
        </th>
        <th pSortableColumn="Sample">Sample
          <p-columnFilter display="menu" field="sample" type="text"></p-columnFilter>
          <p-sortIcon field="sample"></p-sortIcon>
        </th>
        <th pSortableColumn="cq">Cq
          <p-columnFilter display="menu" field="cq" type="number"></p-columnFilter>
          <p-sortIcon field="cq"></p-sortIcon>
        </th>
        <th>Melt temp</th>
        <th>Melt peak</th>

      </tr>
    </ng-template>
    <ng-template let-well pTemplate="body">
      <tr>
        <td>{{ well.well }}</td>
        <td>{{ well.target }}</td>
        <td>
          <p-tag [severity]="severityBySampleType.get(well.content)" [value]="well.content"/>
        </td>
        <td>{{ well.sample }}</td>
        <td>{{ customNumFormat(well.cq) }}</td>
        <td>{{ customNumFormat(well.meltTemperature) }}</td>
        <td>{{ customNumFormat(well.peakHeight) }}</td>

      </tr>
    </ng-template>
  </p-table>
</div>
