<div class="flex justify-content-center">

  <p-table #samplesTable [globalFilterFields]="['sample']" [sortOrder]="-1" [tableStyle]="{ 'min-width': '50rem' }"
           [value]="(samples$ | async) ?? []"
           dataKey="sample.sample"
           sortField="sample"
           styleClass="p-datatable-striped">

    <ng-template pTemplate="caption">
      <div class="flex">
        <p-button (onClick)="clear(samplesTable)" [outlined]="true" icon="pi pi-filter-slash" label="Clear"/>
        <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input (input)="onGlobalFilter($event, samplesTable)"
                           [(ngModel)]="searchValue" pInputText
                           placeholder="Search keyword"
                           type="text"/>
                </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="sample">Sample
          <p-sortIcon field="sample"/>
        </th>
        <th pSortableColumn="count">Count of reactions
          <p-sortIcon field="count"/>
        </th>

      </tr>
    </ng-template>
    <ng-template let-sample pTemplate="body">
      <tr>
        <td>
          <a [routerLink]="'/samples/' + sample.sample">

            {{ sample.sample }}
          </a>
        </td>

        <td>{{ sample.count }}</td>

      </tr>
    </ng-template>
  </p-table>


</div>

