<div class="text-indigo-700 font-bold text-xl py-3">{{ 'Plate files for ' + target }}</div>

<p-table [tableStyle]="{ 'min-width': '50rem' }" [value]="tableData">
  <ng-template pTemplate="header">
    <tr>
      <th>File Name</th>
      <th>Date</th>
      <th>Table view</th>
      <th>Plate view</th>

    </tr>
  </ng-template>
  <ng-template let-file pTemplate="body">
    <tr>
      <td>{{ file.fileInfo.fileName }}</td>
      <td>{{ file.fileInfo.runStarted | date }}</td>
      <td [routerLink]="['/run', file.fileInfo.fileName]"
          class="cursor-pointer ">
        <p-button label="Open table" severity="secondary"></p-button>
      </td>
      <td [routerLink]="['/plate', file.fileInfo.fileName]"
          class="cursor-pointer ">
        <p-button label="Open plate" severity="secondary"></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>
